{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	{{ dia_semana }} {{ fecha_actual }}
{% endblock encabezado %}
{% block contenido %}
	<ul class="collapsible" data-collapsible="accordion">
		{% for modulo in modulos %}
			<li>
		      	{% if modulo.funciona %}
		      		{% if modulo.nombre in modulos_cerrados %}
		      			<div class="collapsible-header orange">
		      			<i class="material-icons">error</i>
		      		{% elif hora_sistema >= modulo.horario_inicio.hour and  hora_sistema <= modulo.horario_final.hour %}
		      			{% if hora_sistema == modulo.horario_inicio.hour and minuto_sistema <  modulo.horario_inicio.minute %}
		      				<div class="collapsible-header orange">
		      				<i class="material-icons">error</i>
		      			{% elif hora_sistema == modulo.horario_final.hour and minuto_sistema >=  modulo.horario_final.minute %}
		      				<div class="collapsible-header orange">
		      				<i class="material-icons">error</i>
		      			{% else %}
		      				<div class="collapsible-header green">
		      				<i class="material-icons">thumb_up</i>
		      			{% endif%}
		      		{% else %}
		      				<div class="collapsible-header orange">
		      				<i class="material-icons">error</i>
		      		{% endif %}
		      	{% else %}
		      	<div class="collapsible-header red">
		      		<i class="material-icons">thumb_down</i>
		      	{% endif %}
		      	{{ modulo.nombre|upper }} 
		      </div>
		      <div class="collapsible-body">
			      <table class="responsive-table">
			        <thead>
			          <tr>
			              <th>Funciona</th>
			              <th>Horario</th>
			              <th>Ubicación</th>
			          </tr>
			        </thead>

			        <tbody>
			          <tr>
			          	{% if modulo.funciona %}
			            	<td>SI</td>
			            {% else %}
			            	<td>NO</td>
			            {% endif %}
			            <td>De {{ modulo.horario_inicio }} a {{ modulo.horario_final }} horas</td>
			            <td>{{ modulo.ubicacion }}</td>
			          </tr>
			        </tbody>
			      </table>
			    {% if user.is_authenticated %} <!--Usuario logeado -->
				<div class="row center-align">
					<div class="col s12">
						<a href="{% url 'cambiar_modulo' nombre_modulo=modulo.nombre %}"
						{% if modulo.funciona %}
							class="waves-effect waves-light btn red">No funciona</a>
						{% else %}
							class="waves-effect waves-light btn green">Si funciona</a>
						{% endif %}
					</div>
				  </div>
				  <div class="row center-align">
					<div class="col s12">
						<a href="{% url 'editar_modulo' pk_modulo=modulo.pk %}"	class="waves-effect waves-light btn blue">Editar</a>
					</div>
				  </div>
		      	</div>
		      	{% endif %}
		    </li>
    	{% endfor %}
  </ul>
  {% include 'components/codigo_color.html' %}
{% endblock contenido %}
