{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	{{ fecha_actual }}
{% endblock encabezado%}
{% block contenido %}
		{% for modulo in modulos %}
				<b>
				{% if modulo.funciona %}
					{% if hora_sistema >= modulo.horario_inicio.hour and  hora_sistema <= modulo.horario_final.hour %}
			      		{% if hora_sistema == modulo.horario_inicio.hour and minuto_sistema <=  modulo.horario_inicio.minute %}
			      			<font color='orange'>
			      		{% elif hora_sistema == modulo.horario_final.hour and minuto_sistema >=  modulo.horario_inicio.minute%}
			      			<font color='orange'>
			      		{% else %}
			      			<font color='green'>
			      		{% endif%}
			      	{% else %}
			      		<font color='orange'>
			      	{% endif %}
		      	{% else %}
		      		<font color='red'>
		      	{% endif %}
				    {{ modulo.nombre }} | {{ modulo.horario_inicio }} - {{ modulo.horario_final }}<br>
				</font>
				</b>
    	{% endfor %}
    	<div class="row center-align">
			<div class="col s12">
				<h5>Código de color</h5>
			</div>
		</div>
		<div class="row center-align">
			<div class="col s4 green">
				SIRVE
			</div>
			<div class="col s4 red">
				NO SIRVE
			</div>
			<div class="col s4 orange">
				CERRADO
			</div>
		</div>
{% endblock contenido %}
