{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	{{ dia_semana }} {{ fecha_actual }}
{% endblock encabezado%}
{% block contenido %}
		{% for modulo in modulos %}
				<b>
				{% if modulo.funciona %}
					{% if modulo.nombre == 'Azulejos' and dia == 'Monday' %}
		      			<font color='orange'>
		      		{% elif modulo.nombre == 'Ex-DGTIC (2)' and dia == 'Sunday'%}
		      			<font color='orange'>
		      		{% elif modulo.nombre in modulos_cerrados and dia in dias_cerrados %}
		      			<font color='orange'>
					{% elif hora_sistema >= modulo.horario_inicio.hour and  hora_sistema <= modulo.horario_final.hour %}
			      		{% if hora_sistema == modulo.horario_inicio.hour and minuto_sistema <=  modulo.horario_inicio.minute %}
			      			<font color='orange'>
			      		{% elif hora_sistema == modulo.horario_final.hour and minuto_sistema >=  modulo.horario_final.minute%}
			      			<font color='orange'>
			      		{% else %}
			      			<font color='green'>
			      		{% endif%}
			      	{% else %}
			      		<font color='orange'>
			      	{% endif %}
		      	{% else %}
		      		<font color='red'>
		      	{% endif %}
				    {{ modulo.nombre }} | {{ modulo.horario_inicio }} - {{ modulo.horario_final }}<br>
				</font>
				</b>
    	{% endfor %}
    	{% include 'components/codigo_color.html' %}
{% endblock contenido %}
