<footer class="page-footer light-blue darken-3">
  <div class="container">
    <div class="footer-copyright light-blue darken-3">
        <div class="container">
          © 2016 Copyright Reynald0
		  <!-- Modal Trigger -->
		  <a class="grey-text text-lighten-4 right modal-trigger" href="#modal1">Detalles...</a>

		  <!-- Modal Structure -->
		  <div id="modal1" class="modal modal-fixed-footer">
		    <div class="modal-content">
		      <h4>Detalles</h4>
		      <p>Esta página esta hecha para los participantes del programa social CAMBIA TU TIEMPO.
		      	 La única función es conocer el estado de los módulos para facilitar la impresion de TICKETS.
		      	 El nombre 'MOIT' proviene de MODULOS PARA IMPRESIÓN DE TICKETS. 
		      </p> 
		      <p>
		     	 Si desea contactarse con el desarrollador de la WEBAPP puede enviar un correo a reynaldobernard15@gmail.com
		      </p>
		    </div>
		    <div class="modal-footer">
		      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
		    </div>
		  </div>
        </div>
    </div>
  </div> 
</footer>
