          <li>
              <a href="{% url 'inicio_min' %}">
                Versión simple
              </a>
          </li>
          {% if user.is_authenticated %} <!--Usuario logeado -->
            <li>
              <a href="{% url 'lista_modulos_cerrados' %}">
                Modulos Cerrados
              </a>
            </li>
            <li>
              <a href="{% url 'modulos_log' %}">
                Cambios
              </a>
            </li>
            <li>
              <a href="{% url 'logout_persona' %}">
                Salir
              </a>
            </li> <!--Usuario logeado -->
          {% else %} <!--Usuario no logueado -->
            <!--li>
              <a href="{% url 'login_persona' %}">
                <i class="material-icons right">input</i>
                Iniciar Sesion
              </a>
            </li-->
          {% endif %}  <!--Usuario no logueado -->