<div class="navbar-fixed">
  <nav class="light-blue darken-3">
      <div class="nav-wrapper">
        <a href="{% url 'inicio' %}" class="brand-logo center">Módulos de CTT</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        </ul>
        <ul class="side-nav light-blue darken-3" id="mobile-demo"> <!-- Navbar para dispositivos moviles -->
        </ul>
      </div>
    </nav>
</div>
