          {% if user.is_authenticated %} <!--Usuario logeado -->
            <li>
            <a href="{% url 'logout_persona' %}">
                <i class="material-icons right">power_settings_new</i>
                Salir
              </a>
            </li>  <!--Usuario logeado -->
          {% else %} <!--Usuario no logueado -->
            <li>
              <a href="{% url 'login_persona' %}">
                <i class="material-icons right">input</i>
                Iniciar Sesion
              </a>
            </li>
          {% endif %}  <!--Usuario no logueado -->