<div class="navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="dropdown" class="dropdown-content">
    <li><a href="#">Ver perfil</a></li>
    <li class="divider"></li>
    <li><a href="#">Salir</a></li>
  </ul>
  <ul id="dropdown-mobile" class="dropdown-content light-blue darken-3">
    <li><a href="#">Ver perfil</a></li>
    <li class="divider"></li>
    <li><a href="#">Salir</a></li>
  </ul>
  <nav class="light-blue darken-3">
      <div class="nav-wrapper">
        <a href="{% url 'inicio' %}" class="brand-logo center">Módulos de CTT</a>
      </div>
    </nav>
</div>
